$neutral-black:#263238;
$neutral-d-grey:#4D4D4D;
$neutral-grey:#717171;
$neutral-l-grey:#89939E;
$neutral-grey-blue:#ABBED1;
$neutral-silver:#F5F7FA;
$neutral-white:#FFFFFF;


$primary:#4caf4f;
$secundary:#263238;
$info:#2194f3;

$colorShade-shade1:#43A046;
$colorShade-shade2:#388E3B;
$colorShade-shade3:#237D31;
$colorShade-shade4:#1B5E1F;
$colorShade-shade5:#103E13;

$colorTint-tint1:#66BB69;
$colorTint-tint2:#81C784;
$colorTint-tint3:#A5D6A7;
$colorTint-tint4:#C8E6C9;
$colorTint-tint5:#E8F5E9;

$action-warning:#FBC02D;
$action-error:#E53835;
$action-success:#2E7D31;

