@import "./medias";

main{
  .clients{
    padding-top: 4rem;
    padding-bottom: 4.8rem;
    @include small{
      .align-content{
        margin: 0 3rem;
      }
    }
    @include medium{
      .align-content{
        margin: 0 3rem;
      }
    }
    .clients-text{
      text-align: center;
      p{
        padding: 1rem 0;
      }
    }
    .clients-logos{
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;
      margin-bottom: 6.5rem;
      flex-wrap: wrap;
      column-gap: 2rem;
      @include small{
        justify-content: center; 
      }
      @include medium{
        justify-content: center;
      }
      @include medium-large{
        justify-content: center;
      }
      .clients-logos-img{
        width: 100%;
      }
    }
    .clients-manage{
      .clients-manage-text{
        text-align: center;
        p{
          padding: .8rem 0 1.6rem;
        }
      }
      .clients-manage-cards{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4.2rem;
        flex-wrap: wrap;
        row-gap: 3rem;
        column-gap: 3rem;
        @include small{
          justify-content: center;
        }
        @include medium{
          justify-content: center;
        }
        @include medium-large{
          justify-content: center;
        }
        @include large{
          justify-content: center;
        }
        .clients-manage-cards-item{
          width: 100%;
          max-width: 29.9rem;
          height: 28rem;
          text-align: center;
          align-content: center;
          img{
            width: 100%;
            max-width: 6.5rem;
          }
          h3{
            padding: 0 3rem;
          }
          p{
            padding: 0 3rem;
          }
        }
      }
    }
    .client-pixelgrade{
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 4.9rem;
      flex-wrap: wrap; 
      @include extra-large{
        flex-wrap: nowrap;
      }
      img{
        width: 100%;
        max-width: 44.2rem;
        margin: 0 auto;
      }
      .client-pixelgrade-text{
        width: 100%;
        max-width: 66.1rem;
        margin: 0 auto;
        @include small{
          text-align: center;
        }
        @include medium{
          text-align: center;
        }
        h2{
          max-width: 60rem;
        }
        p{
          padding: 1.6rem 0 3.2rem;
          max-width: 60rem;
        }
      }
    }
  }
  
   .achievements{
    background-color: $neutral-silver;
    @include small{
      .align-content{
        margin: 0 3rem;
      }
    }
    @include medium{
      .align-content{
        margin: 0 3rem;
      }
    }
    .achievements-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6.4rem 0;
      flex-wrap: wrap;
      row-gap: 3rem;
      @include small{
        justify-content: center;
      }
      @include medium{
        justify-content: center;
      }
      @include medium-large{
        justify-content: center;
      }
      .achievements-content-text{
        margin: 0 auto;
        @include small{
          text-align: center;
        }
        @include medium{
          text-align: center;
        }
        h2{
          span{
            color: $primary;
          }
        }
        p{
          padding: 1rem 0;
        }
      }
      .achievements-content-list{
        display: flex;
        flex-wrap: wrap;
        row-gap: 4rem;
        width: 100%;
        max-width: 54rem;
        margin: 0 auto;
        @include small{
          justify-content: center;
        }
        @include medium{
          justify-content: center;
        }
        
        .achievements-content-list-item{
          display: flex;
          align-items: center;
          gap: 1.6rem;
          width: 100%;
          max-width: 25.5rem;
          margin: 0 auto;
          @include small{
            justify-content: center;
          }
          @include medium{
            justify-content: center;
          }
          img{
          width: 100%;
          max-width: 4.8rem;
          }
        }
      }
    }
  }

  .calender{
    @include small{
      .align-content{
        margin: 0 3rem;
      }
    }
    @include medium{
      .align-content{
        margin: 0 3rem;
      }
    }
    .calender-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4.8rem 0;
      gap: 5rem;
      flex-wrap: wrap;
      @include small{
        justify-content: center;
      }
      @include medium{
        justify-content: center;
      }
      @include extra-large{
        flex-wrap: nowrap;
      }
      img{
        width: 100%;
        max-width: 44.1rem;
        margin: 0 auto;
      }
      .calender-content-text{
        width: 100%;
        max-width: 66.1rem;
        margin: 0 auto;
        @include small{
          text-align: center;
        }
        @include medium{
          text-align: center;
        }
        p{
          padding: 1.6rem 0 3.2rem;
        }
      }
    }
  }

  .customer{
    background-color: $neutral-silver;
    @include small{
      .align-content{
        margin: 0 3rem;
      }
    }
    @include medium{
      .align-content{
        margin: 0 3rem;
      }
    }
    .customer-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3.3rem 0;
      gap: 7.8rem;
      flex-wrap: wrap;
      @include small{
        justify-content: center;
      }
      @include medium{
        justify-content: center;
      }
      @include large{
        flex-wrap: nowrap;
      }
      @include extra-large{
        flex-wrap: nowrap;
      }
      .customer-content-img{
        width: 100%;
        max-width: 32.6rem;
        margin: 0 auto;
      }
      .customer-content-text{
        width: 100%;
        max-width: 74.8rem;
        margin: 0 auto;
        @include small{
          text-align: center;
        }
        @include medium{
          text-align: center;
        }
        .font-medium-body-2{
          color: $neutral-grey;
          padding-bottom: 1.6rem;
        }
        h4{
          color: $primary;  
        }
        .font-regular-body-2{
          color: $neutral-l-grey;
          padding: .8rem 0 3.2rem;
        }
        .customer-content-text-imgs{
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          column-gap: 2rem;
          @include small{
            justify-content: center;
          }
          @include medium{
            justify-content: center;
          }
          .customer-content-text-imgs-item{
            width: 100%;
            max-width: 4.8rem;
          }
          
        }
        
      }
    }
  }

  .community{
    @include small{
      .align-content{
        margin: 0 3rem;
      }
    }
    @include medium{
      .align-content{
        margin: 0 3rem;
      }
    }
    .community-content{
      padding: 4.8rem 0 9.5rem;
      .community-content-text{
        text-align: center;
        margin: 0 auto;
        @include small{
          padding-bottom: 3rem;
        }
        @include medium{
          padding-bottom: 3rem;
        }
        p{
          width: 100%;
          max-width: 62.8rem;
          text-align: center;
          margin: .8rem auto 1.6rem ;
        }
      }
      .community-content-cards{
        display: flex;
        justify-content: space-between;
        align-items:center; 
        flex-wrap: wrap;
        row-gap: 3rem;
        @include small{
          justify-content: center;
        }
        @include medium{
          justify-content: center;
        }
        @include large{
          column-gap: 3rem;
        }
        .community-content-cards-item{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          max-width: 36.8rem;
          height: 36.6rem;
          margin: 0 auto;
          .community-content-cards-item-img{
            object-fit: contain;
            position: absolute;
            width: 100%;
            max-width: 63.8rem;
            height: 28.6rem;
            @include small{
              width: 90%;        
            }
            @include medium{
              width: 90%;
            }
          }
          .community-content-cards-item-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $neutral-silver;
            max-width: 31.7rem;
            height: 17.6rem;
            position: relative;
            top: calc(50% + 1rem);
            h4{
              text-align: center;
              padding: 1.6rem;
            }
          
          }
        }
      }
    }

  }

  .frame{
    background-color: $neutral-silver;
    @include small{
      .align-content{
        margin: 0 3rem;
      }
    }
    @include medium{
      .align-content{
        margin: 0 3rem;
      }
    }
    .frame-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3.2rem 0;
      h1{
        color: $neutral-black;
        max-width: 88.7rem;
        text-align: center;
        padding-bottom: 3.2rem;
        @include small{
          font-size: 3.6rem;
        }
        @include medium{
          font-size: 3.6rem;
        }
      }
      button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;
        gap:.8rem;
        img{
          width: 100%;
          max-width: 2.4rem;
        }
      }
    }
  }

}