// 4px
.shadow-2px{
  border-radius: .8rem;
  box-shadow: 0px 2px 4px rgba(171, 190, 209, 0.6);
}
 
// 16px
.shadow-16px{
  border-radius: .8rem;
  box-shadow: 0px 16px 32px rgba(171, 190, 209, 0.3);
}