@import "./colors";

h1{
  font-weight: bold;
  font-size: 6.4rem;
  color: $neutral-d-grey;
}
h2{
  font-weight: bold;
  font-size: 3.6rem;
  color: $neutral-d-grey;
}
h3{
  font-weight: bold;
  font-size: 2.8rem;
  color: $neutral-d-grey;
}
h4{
  font-weight: bold;
  font-size: 2rem;
  color: $neutral-d-grey;
}

p{
  color: $neutral-grey;
}

.font-regular-body-1{
  font-weight: 300;
  font-size: 1.8rem;
}
.font-regular-body-2{
  font-weight: 300;
  font-size: 1.6rem;
}
.font-regular-body-3{
  font-weight: 300;
  font-size: 1.4rem;
}
.font-regular-body-4{
  font-weight: 300;
  font-size: 1.2rem;
}

.font-medium-body-1{
  font-weight: 500;
  font-size: 1.8rem;
}
.font-medium-body-2{
  font-weight: 500;
  font-size: 1.6rem;
}
.font-medium-body-3{
  font-weight: 500;
  font-size: 1.4rem;
}
.font-medium-body-4{
  font-weight: 500;
  font-size: 1.2rem;
}