* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.align-content {
  margin: 0 14.4rem;
}

h1 {
  font-weight: bold;
  font-size: 6.4rem;
  color: #4D4D4D;
}

h2 {
  font-weight: bold;
  font-size: 3.6rem;
  color: #4D4D4D;
}

h3 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #4D4D4D;
}

h4 {
  font-weight: bold;
  font-size: 2rem;
  color: #4D4D4D;
}

p {
  color: #717171;
}

.font-regular-body-1 {
  font-weight: 300;
  font-size: 1.8rem;
}

.font-regular-body-2 {
  font-weight: 300;
  font-size: 1.6rem;
}

.font-regular-body-3 {
  font-weight: 300;
  font-size: 1.4rem;
}

.font-regular-body-4 {
  font-weight: 300;
  font-size: 1.2rem;
}

.font-medium-body-1 {
  font-weight: 500;
  font-size: 1.8rem;
}

.font-medium-body-2 {
  font-weight: 500;
  font-size: 1.6rem;
}

.font-medium-body-3 {
  font-weight: 500;
  font-size: 1.4rem;
}

.font-medium-body-4 {
  font-weight: 500;
  font-size: 1.2rem;
}

.shadow-2px {
  border-radius: 0.8rem;
  box-shadow: 0px 2px 4px rgba(171, 190, 209, 0.6);
}

.shadow-16px {
  border-radius: 0.8rem;
  box-shadow: 0px 16px 32px rgba(171, 190, 209, 0.3);
}

.buttons {
  color: #FFFFFF;
  background: #4caf4f;
  border: none;
  border-radius: 0.4rem;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 1.4rem 3.2rem;
}

.buttonsArrow {
  font-weight: bold;
  font-size: 2rem;
  color: #4caf4f;
  background: none;
  border: none;
  display: flex;
  gap: 0.8rem;
}
.buttonsArrow img {
  width: 100%;
  max-width: 2.4rem;
}

header {
  background-color: #F5F7FA;
}
@media (max-width: 480px) {
  header .align-content {
    margin: 0 3rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header .align-content {
    margin: 0 3rem;
  }
}
header .header-content .header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  row-gap: 3rem;
}
@media (max-width: 480px) {
  header .header-content .header-nav {
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header .header-content .header-nav {
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  header .header-content .header-nav {
    flex-direction: column;
    justify-content: center;
  }
}
header .header-content .header-nav .header-nav-logo {
  width: 100%;
  max-width: 15.5rem;
}
header .header-content .header-nav .header-nav-list {
  display: flex;
  column-gap: 1rem;
  row-gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
@media (max-width: 480px) {
  header .header-content .header-nav .header-nav-list {
    column-gap: 0;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header .header-content .header-nav .header-nav-list {
    column-gap: 0;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  header .header-content .header-nav .header-nav-list {
    column-gap: 0;
  }
}
@media (min-width: 1025px) and (max-width: 1279px) {
  header .header-content .header-nav .header-nav-list {
    column-gap: 0;
  }
}
header .header-content .header-nav .header-nav-list li a {
  padding: 0 2rem;
  color: #263238;
}
header .header-content .header-nav div {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
header .header-content .header-nav div .header-nav-login {
  color: #4caf4f;
  background: none;
  border: none;
}
header .header-content .header-nav div .header-nav-signUp {
  padding: 1rem 2rem;
}
header .header-content .header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 9.6rem;
  margin-bottom: 9.6rem;
  row-gap: 3rem;
}
@media (min-width: 1280px) {
  header .header-content .header-content {
    flex-wrap: nowrap;
  }
}
header .header-content .header-content .header-content-text {
  margin: 0 auto;
}
@media (max-width: 480px) {
  header .header-content .header-content .header-content-text {
    text-align: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header .header-content .header-content .header-content-text {
    text-align: center;
  }
}
header .header-content .header-content .header-content-text h1 span {
  color: #4caf4f;
}
header .header-content .header-content .header-content-text p {
  padding: 1.6rem 0 3.2rem;
}
header .header-content .header-content .header-content-img {
  width: 100%;
  max-width: 36.1rem;
  margin: 0 auto;
}
header .header-content .header-dot {
  display: flex;
  justify-content: center;
}
header .header-content .header-dot .header-dot-img {
  width: 100%;
  max-width: 4.6rem;
  margin: 2.5rem 0;
}

main .clients {
  padding-top: 4rem;
  padding-bottom: 4.8rem;
}
@media (max-width: 480px) {
  main .clients .align-content {
    margin: 0 3rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .clients .align-content {
    margin: 0 3rem;
  }
}
main .clients .clients-text {
  text-align: center;
}
main .clients .clients-text p {
  padding: 1rem 0;
}
main .clients .clients-logos {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 6.5rem;
  flex-wrap: wrap;
  column-gap: 2rem;
}
@media (max-width: 480px) {
  main .clients .clients-logos {
    justify-content: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .clients .clients-logos {
    justify-content: center;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  main .clients .clients-logos {
    justify-content: center;
  }
}
main .clients .clients-logos .clients-logos-img {
  width: 100%;
}
main .clients .clients-manage .clients-manage-text {
  text-align: center;
}
main .clients .clients-manage .clients-manage-text p {
  padding: 0.8rem 0 1.6rem;
}
main .clients .clients-manage .clients-manage-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.2rem;
  flex-wrap: wrap;
  row-gap: 3rem;
  column-gap: 3rem;
}
@media (max-width: 480px) {
  main .clients .clients-manage .clients-manage-cards {
    justify-content: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .clients .clients-manage .clients-manage-cards {
    justify-content: center;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  main .clients .clients-manage .clients-manage-cards {
    justify-content: center;
  }
}
@media (min-width: 1025px) and (max-width: 1279px) {
  main .clients .clients-manage .clients-manage-cards {
    justify-content: center;
  }
}
main .clients .clients-manage .clients-manage-cards .clients-manage-cards-item {
  width: 100%;
  max-width: 29.9rem;
  height: 28rem;
  text-align: center;
  align-content: center;
}
main .clients .clients-manage .clients-manage-cards .clients-manage-cards-item img {
  width: 100%;
  max-width: 6.5rem;
}
main .clients .clients-manage .clients-manage-cards .clients-manage-cards-item h3 {
  padding: 0 3rem;
}
main .clients .clients-manage .clients-manage-cards .clients-manage-cards-item p {
  padding: 0 3rem;
}
main .clients .client-pixelgrade {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 4.9rem;
  flex-wrap: wrap;
}
@media (min-width: 1280px) {
  main .clients .client-pixelgrade {
    flex-wrap: nowrap;
  }
}
main .clients .client-pixelgrade img {
  width: 100%;
  max-width: 44.2rem;
  margin: 0 auto;
}
main .clients .client-pixelgrade .client-pixelgrade-text {
  width: 100%;
  max-width: 66.1rem;
  margin: 0 auto;
}
@media (max-width: 480px) {
  main .clients .client-pixelgrade .client-pixelgrade-text {
    text-align: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .clients .client-pixelgrade .client-pixelgrade-text {
    text-align: center;
  }
}
main .clients .client-pixelgrade .client-pixelgrade-text h2 {
  max-width: 60rem;
}
main .clients .client-pixelgrade .client-pixelgrade-text p {
  padding: 1.6rem 0 3.2rem;
  max-width: 60rem;
}
main .achievements {
  background-color: #F5F7FA;
}
@media (max-width: 480px) {
  main .achievements .align-content {
    margin: 0 3rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .achievements .align-content {
    margin: 0 3rem;
  }
}
main .achievements .achievements-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6.4rem 0;
  flex-wrap: wrap;
  row-gap: 3rem;
}
@media (max-width: 480px) {
  main .achievements .achievements-content {
    justify-content: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .achievements .achievements-content {
    justify-content: center;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  main .achievements .achievements-content {
    justify-content: center;
  }
}
main .achievements .achievements-content .achievements-content-text {
  margin: 0 auto;
}
@media (max-width: 480px) {
  main .achievements .achievements-content .achievements-content-text {
    text-align: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .achievements .achievements-content .achievements-content-text {
    text-align: center;
  }
}
main .achievements .achievements-content .achievements-content-text h2 span {
  color: #4caf4f;
}
main .achievements .achievements-content .achievements-content-text p {
  padding: 1rem 0;
}
main .achievements .achievements-content .achievements-content-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4rem;
  width: 100%;
  max-width: 54rem;
  margin: 0 auto;
}
@media (max-width: 480px) {
  main .achievements .achievements-content .achievements-content-list {
    justify-content: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .achievements .achievements-content .achievements-content-list {
    justify-content: center;
  }
}
main .achievements .achievements-content .achievements-content-list .achievements-content-list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
  max-width: 25.5rem;
  margin: 0 auto;
}
@media (max-width: 480px) {
  main .achievements .achievements-content .achievements-content-list .achievements-content-list-item {
    justify-content: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .achievements .achievements-content .achievements-content-list .achievements-content-list-item {
    justify-content: center;
  }
}
main .achievements .achievements-content .achievements-content-list .achievements-content-list-item img {
  width: 100%;
  max-width: 4.8rem;
}
@media (max-width: 480px) {
  main .calender .align-content {
    margin: 0 3rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .calender .align-content {
    margin: 0 3rem;
  }
}
main .calender .calender-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.8rem 0;
  gap: 5rem;
  flex-wrap: wrap;
}
@media (max-width: 480px) {
  main .calender .calender-content {
    justify-content: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .calender .calender-content {
    justify-content: center;
  }
}
@media (min-width: 1280px) {
  main .calender .calender-content {
    flex-wrap: nowrap;
  }
}
main .calender .calender-content img {
  width: 100%;
  max-width: 44.1rem;
  margin: 0 auto;
}
main .calender .calender-content .calender-content-text {
  width: 100%;
  max-width: 66.1rem;
  margin: 0 auto;
}
@media (max-width: 480px) {
  main .calender .calender-content .calender-content-text {
    text-align: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .calender .calender-content .calender-content-text {
    text-align: center;
  }
}
main .calender .calender-content .calender-content-text p {
  padding: 1.6rem 0 3.2rem;
}
main .customer {
  background-color: #F5F7FA;
}
@media (max-width: 480px) {
  main .customer .align-content {
    margin: 0 3rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .customer .align-content {
    margin: 0 3rem;
  }
}
main .customer .customer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.3rem 0;
  gap: 7.8rem;
  flex-wrap: wrap;
}
@media (max-width: 480px) {
  main .customer .customer-content {
    justify-content: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .customer .customer-content {
    justify-content: center;
  }
}
@media (min-width: 1025px) and (max-width: 1279px) {
  main .customer .customer-content {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1280px) {
  main .customer .customer-content {
    flex-wrap: nowrap;
  }
}
main .customer .customer-content .customer-content-img {
  width: 100%;
  max-width: 32.6rem;
  margin: 0 auto;
}
main .customer .customer-content .customer-content-text {
  width: 100%;
  max-width: 74.8rem;
  margin: 0 auto;
}
@media (max-width: 480px) {
  main .customer .customer-content .customer-content-text {
    text-align: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .customer .customer-content .customer-content-text {
    text-align: center;
  }
}
main .customer .customer-content .customer-content-text .font-medium-body-2 {
  color: #717171;
  padding-bottom: 1.6rem;
}
main .customer .customer-content .customer-content-text h4 {
  color: #4caf4f;
}
main .customer .customer-content .customer-content-text .font-regular-body-2 {
  color: #89939E;
  padding: 0.8rem 0 3.2rem;
}
main .customer .customer-content .customer-content-text .customer-content-text-imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 2rem;
}
@media (max-width: 480px) {
  main .customer .customer-content .customer-content-text .customer-content-text-imgs {
    justify-content: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .customer .customer-content .customer-content-text .customer-content-text-imgs {
    justify-content: center;
  }
}
main .customer .customer-content .customer-content-text .customer-content-text-imgs .customer-content-text-imgs-item {
  width: 100%;
  max-width: 4.8rem;
}
@media (max-width: 480px) {
  main .community .align-content {
    margin: 0 3rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .community .align-content {
    margin: 0 3rem;
  }
}
main .community .community-content {
  padding: 4.8rem 0 9.5rem;
}
main .community .community-content .community-content-text {
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 480px) {
  main .community .community-content .community-content-text {
    padding-bottom: 3rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .community .community-content .community-content-text {
    padding-bottom: 3rem;
  }
}
main .community .community-content .community-content-text p {
  width: 100%;
  max-width: 62.8rem;
  text-align: center;
  margin: 0.8rem auto 1.6rem;
}
main .community .community-content .community-content-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 3rem;
}
@media (max-width: 480px) {
  main .community .community-content .community-content-cards {
    justify-content: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .community .community-content .community-content-cards {
    justify-content: center;
  }
}
@media (min-width: 1025px) and (max-width: 1279px) {
  main .community .community-content .community-content-cards {
    column-gap: 3rem;
  }
}
main .community .community-content .community-content-cards .community-content-cards-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 36.8rem;
  height: 36.6rem;
  margin: 0 auto;
}
main .community .community-content .community-content-cards .community-content-cards-item .community-content-cards-item-img {
  object-fit: contain;
  position: absolute;
  width: 100%;
  max-width: 63.8rem;
  height: 28.6rem;
}
@media (max-width: 480px) {
  main .community .community-content .community-content-cards .community-content-cards-item .community-content-cards-item-img {
    width: 90%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .community .community-content .community-content-cards .community-content-cards-item .community-content-cards-item-img {
    width: 90%;
  }
}
main .community .community-content .community-content-cards .community-content-cards-item .community-content-cards-item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F5F7FA;
  max-width: 31.7rem;
  height: 17.6rem;
  position: relative;
  top: calc(50% + 1rem);
}
main .community .community-content .community-content-cards .community-content-cards-item .community-content-cards-item-text h4 {
  text-align: center;
  padding: 1.6rem;
}
main .frame {
  background-color: #F5F7FA;
}
@media (max-width: 480px) {
  main .frame .align-content {
    margin: 0 3rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .frame .align-content {
    margin: 0 3rem;
  }
}
main .frame .frame-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.2rem 0;
}
main .frame .frame-content h1 {
  color: #263238;
  max-width: 88.7rem;
  text-align: center;
  padding-bottom: 3.2rem;
}
@media (max-width: 480px) {
  main .frame .frame-content h1 {
    font-size: 3.6rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .frame .frame-content h1 {
    font-size: 3.6rem;
  }
}
main .frame .frame-content button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  gap: 0.8rem;
}
main .frame .frame-content button img {
  width: 100%;
  max-width: 2.4rem;
}

footer {
  background-color: #263238;
}
@media (max-width: 480px) {
  footer .align-content {
    margin: 0 3rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  footer .align-content {
    margin: 0 3rem;
  }
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6.4rem 0;
  flex-wrap: wrap;
  row-gap: 3rem;
}
@media (max-width: 480px) {
  footer .footer-content {
    justify-content: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  footer .footer-content {
    justify-content: center;
  }
}
footer .footer-content .footer-content-social {
  margin: 0 auto;
}
footer .footer-content .footer-content-social img {
  width: 100%;
  max-width: 19.2rem;
}
footer .footer-content .footer-content-social .footer-content-social-text {
  padding: 4rem 0;
}
footer .footer-content .footer-content-social .footer-content-social-text p {
  color: #F5F7FA;
  padding-bottom: 0.8rem;
}
footer .footer-content .footer-content-social .footer-content-social-text span {
  color: #F5F7FA;
}
footer .footer-content .footer-content-social .footer-content-social-icons {
  display: flex;
  gap: 1.6rem;
}
footer .footer-content .footer-content-social .footer-content-social-icons img {
  width: 100%;
  max-width: 3.2rem;
}
footer .footer-content .footer-content-lists {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 63.5rem;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 3rem;
  margin: 0 auto;
}
@media (max-width: 480px) {
  footer .footer-content .footer-content-lists {
    justify-content: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  footer .footer-content .footer-content-lists {
    justify-content: center;
  }
}
footer .footer-content .footer-content-lists .footer-content-lists-list {
  margin: 0 auto;
}
@media (max-width: 480px) {
  footer .footer-content .footer-content-lists .footer-content-lists-list {
    text-align: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  footer .footer-content .footer-content-lists .footer-content-lists-list {
    text-align: center;
  }
}
footer .footer-content .footer-content-lists .footer-content-lists-list h4 {
  color: #FFFFFF;
  padding-bottom: 2.4rem;
}
footer .footer-content .footer-content-lists .footer-content-lists-list ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
footer .footer-content .footer-content-lists .footer-content-lists-list ul li {
  color: #F5F7FA;
}
footer .footer-content .footer-content-lists .footer-content-lists-form {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
footer .footer-content .footer-content-lists .footer-content-lists-form h4 {
  color: #FFFFFF;
  padding-bottom: 3.6rem;
}
footer .footer-content .footer-content-lists .footer-content-lists-form form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-content .footer-content-lists .footer-content-lists-form form input {
  background-color: #515B60;
  width: 25.5rem;
  height: 4rem;
  border-radius: 0.8rem;
  border: none;
}
footer .footer-content .footer-content-lists .footer-content-lists-form form ::-webkit-input-placeholder {
  color: #F5F7FA;
  padding: 1.2rem;
}
footer .footer-content .footer-content-lists .footer-content-lists-form form a {
  position: relative;
  left: -3.2rem;
}
footer .footer-content .footer-content-lists .footer-content-lists-form form a img {
  width: 100%;
  max-width: 1.8rem;
}

/*# sourceMappingURL=style.css.map */
